html
    head
        title= title
    body
        h1= title
        ul#todo-items
            each item in todoList
                li
                    input.todo-item(type='checkbox', id=item.id, checked=item.isDone)
                    label= item.text

        input#new-todo-item(type='text', autofocus)

        script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
        script.
            $('#new-todo-item').on('keypress', function(e) {
                if (e.which !== 13) {
                    return
                }

                var newItem = $('#new-todo-item').val().trim()

                if (!newItem) {
                    return
                }

                $.post('/submit_new', { new_todo_item: newItem }, function(reply) {
                    $('#new-todo-item').val('')
                    $('#todo-items').append('<li>' + newItem + '</li>')
                })
            })

            $('.todo-item').on('change', function() {
                $.post('/submit_change', { id: $(this).prop('id'), isDone: $(this).prop('checked') })
            })
